
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Shop Homepage - Start Bootstrap Template</title>
     {% load static %}

  <!-- Bootstrap core CSS -->
  <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{% static 'css/myapp.css' %}" rel="stylesheet">

</head>

<body>

    <!DOCTYPE html>
    <html lang="en">
    
    <head>
    
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta name="description" content="">
      <meta name="author" content="">
    
      <title>Shop Homepage - Start Bootstrap Template</title>
        {% load static %}
      <!-- Bootstrap core CSS -->
      <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    
      <!-- Custom styles for this template -->
      <link href="{% static 'css/myapp.css' %}" rel="stylesheet">
    
    </head>
    
    <body>
    
      <!-- Navigation -->
      {% include "navbar.html" %}
      <!-- Page Content -->
      
          
          
             
    
    
              <div class="col-lg-9">
              {% include "slider.html" %}
              <div class="row">
                
    
          </div>
        </div>
          <!-- /.col-lg-9 -->
    
        </div>
        <!-- /.row -->
    
      </div>
      <!-- /.container -->
    
      <!-- Footer -->
      {% include "footer.html" %}
    
      <!-- Bootstrap core JavaScript -->
      <script src="static/js/jquery.js"></script>
      <script src="static/js/boot.js"></script>
    
    </body>
    
    </html>
    